#calculadora {
    background: rgb(219, 117, 134);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#calculadora input{
background: darkgrey;
color: darkslateblue;
padding: 5px;
border-radius: 5px;
}
#Total {
    background: rgb(211, 0, 88);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#calculadora button {
    background: rgb(112, 11, 82);
    color: rgb(194, 55, 194);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#calculadora button:hover {
    background: rgb(202, 79, 165);
    color: rgb(107, 11, 107);
    cursor: pointer;
}
